@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,500;9..144,700;9..144,900&family=Montserrat:wght@100;400&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Sansita+Swashed:wght@300&display=swap');
body {
    background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
@media (max-width:530px) {
    body {
        background: hsl(30, 38%, 92%);
    }
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}
.lol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    background-color: hsl(30, 38%, 92%);
    box-shadow: rgba(0, 0, 0, 0.132) -4px 7px 10px 5px ;
}

.container-item {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 430px;
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width:530px) {
    
    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 830px;
    }
    .lol{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        background-color: hsl(30, 38%, 92%);
        box-shadow: none;
    }
    .container-item {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
#image-container {
    flex: 1;
}
#content-container {
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
}
@media (max-width:530px) {
    #image-container {
        margin-bottom: -60px;
        width: 100%;
    }
    #content-container {
        width: 300px;
    }
}
.image {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    min-width: 210px;
    max-height: 500px;
}
@media (max-width:530px) {
    .image {
       display: none;
    }
}
.small-title {
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.416);
    font-size: 15px;
}
.big-title {
    font-family: 'Fraunces';
    font-style:normal ;
}
@media (max-width:530px) {
    .big-title {
        font-family: 'Fraunces';
        font-style:normal ;
        margin-top: 10px;
    }
}
.product-information {
    font-family: 'Montserrat';
    font-weight:700;
    font-style:normal ;
    color:#08080892;
    font-size: 14px;
    line-height: 22px;
}
.price-container {
    display: flex; 
    column-gap: 15px;
}
.price-now {
    font-family: 'Fraunces';
    font-style:normal ;
    font-size: 24px;
    color: hsl(158, 36%, 37%);
    margin-top: -1px;
    font-weight: 900;
}
.old-price {
    font-family: 'Fraunces';
    font-style:normal ;
    text-decoration: line-through;
    margin-top: -0.1px;
    font-size: 14px;
    color:#08080892;
}
.buy-button {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 14px;
    padding-top: -15px;
    font-weight: 550;
    border-color:  rgba(0, 0, 0, 0.354);
    border-width: 2px;
    
}
.buy-button:hover {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: hsl(158, 40%, 45%);
    color: white;
    font-size: 14px;
    padding-top: -15px;
    font-weight: 550;
    border-color:  rgba(0, 0, 0, 0.104);
    border-width: 2px;
}
.buy-button:active {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: hsl(158, 37%, 23%);
    color: white;
    font-size: 14px;
    padding-top: -15px;
    font-weight: 550;
    border-color:  rgba(0, 0, 0, 0.354);
    border-width: 2px;
    transform: scale(1.05);
}
.add-to-card {
    width: 24px;
    height: 20px;
    margin-left: -5px;
    margin-right: 6px;
    margin-top: -10px;
}
.phone-img {
    display: none;
    
}
@media (max-width:530px) {
    .phone-img {
        display: block;
        width: 100%;
        height: 275px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        min-width: 210px;
        max-height: 500px;
    }
}
